RewriteEngine on
RewriteRule rejestracja registerForm.php
RewriteRule logowanie index.php
RewriteRule wioska game_logic/village.php
RewriteRule mapa game_logic/map.php
RewriteRule zasoby game_logic/resources.php
RewriteRule regulamin termsAndConditions.php