body {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

form {
    width: 340px;
    height: 300px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    background-color: brown;
    border: 7px solid black;
}

.error {
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#topBar {
    background-color: brown;
    border: 7px solid black;
    padding: 5px;
}

#player {
    float: left;
}

#resources {
    float: left;
}

#links {
    float: left;
}

#logOut {
    float: left;
}